:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.logo {
  width: 30px;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.beer-img {
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* Sticky footer styles
-------------------------------------------------- */
 html {
  position: relative;
  min-height: 100%;
} 
 body {
  margin-bottom: 60px; /* Margin bottom by footer height */
 } 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #0c0c0c;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

 .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} 


